
  <ion-content class="ion-padding-horizontal">
  <h3 class="ion-text-center">Add New Card</h3>
  <ion-label>Name on Card</ion-label>
  <ion-input type="text" placeholder="Your Name"></ion-input>
 <br>
 <ion-label>Card Number</ion-label>
  <ion-input type="number" placeholder="Your Card Number"></ion-input>
  <ion-row>
    <ion-col>
      <ion-label>Valid Upto</ion-label>
      <ion-datetime value="2019-10-01T15:43:40.394Z"></ion-datetime>
    </ion-col>
    <ion-col>
      <ion-label>CVC</ion-label>
      <ion-input type="number" placeholder="123"></ion-input>
    </ion-col>
  </ion-row>
  <ion-button shape="block" class="addcard" (click)="addcard()">
    Add Card
  </ion-button>
</ion-content>
 
  