
ion-header{
    ion-toolbar.md.in-toolbar.hydrated {
        --background: black;
    }
    ion-toolbar.ios.in-toolbar.hydrated {
        --background: black;
    }
}


ion-content{
    --background: black;
    .fullimg{
        max-height: 70px;
        min-height: 500px;
        min-width: 100%;
        
        max-width: 100%;
    }
    .upload{
        text-align: left;
        color: white;
        margin: 0;
    }
    .upload1{
        text-align: left;
        color: white;
        margin: 0;
        margin-left: -2%;
    }
    .fix{
        position: absolute;
        top: 0%;
    }
    .expand{
        font-size: 22px;
        color: #fdfdfd;
    }
    .togl{
        position: absolute;
    top: 0%;
    right: 8%;
    }
    ion-card{
        margin: 0px;
    padding: 0;
    background:#45444457;;
    box-shadow: none;
    ion-card-header{
        margin: 0;
        padding: 0;
    }
    
    }
    .username{
       // position: absolute;
        color: white;
        margin: 0;
        text-align: left;
        margin-top: 0%;
        // margin-top: -58%;
        // margin-left: -56%;
        font-size: 22px;
        font-weight: bold;
    }
    .dp{
        width: 50px;
        height: 50px;
      //  margin-left: -80%;
        border-radius: 50px;
      //  position: absolute;
      //  margin-top: -65%;
    }
    .ovrly{
        background: #000000;
    opacity: 0.6;
    }
    .bg{
        margin-top: -1%;
    }
    .whbg{
        background: white;
    }
    .auther{
        width: 30px !important;
        height: 30px !important;
    }
    .sml{
        font-size: 15px !important;
    }
    .cls{
        font-size: 21px;
        color: red;
        float: right;
        margin-right: 4%;
    }
    .add{
        font-size: 21px;
        color: rgb(1, 214, 54);
        float: right;
        margin-right: 4%;
    }
    .bottomcrd{
        position: absolute;
        bottom: 8%;
        opacity: 0.7;width: 94%;
    }
    .topcrd{
        position: absolute;
        top: 5%;
        width: 94%;
    }

}
ion-footer{
    background: black;
}