<ion-header>
  <ion-toolbar>
    <ion-row>
      <ion-col size="2">
        <img src="assets/imgs/cam.png">
      </ion-col>
      <ion-col >
        <ion-title>
          <h2>Credit Packs</h2>
        </ion-title>
      </ion-col>
    </ion-row>
    <ion-buttons slot="start">
      <ion-button  color="secondary" (click)="back()">
        <ion-icon name="chevron-back"></ion-icon>
    </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-horizontal">
  <h3 class="ion-text-center remaining">Share Credits Remaining : {{sharealbumcount}}</h3>
  <ion-card  *ngFor="let pack of packslist">
    <ion-row>
      <ion-col size="2">
        <img src="assets/imgs/coin.png">
      </ion-col>
      <ion-col size="6" >
      <p class="packcredit">Credits: {{pack.Credits}}</p>
      <p class="cost">Cost: £{{pack.Cost}}</p>
      </ion-col >
      <ion-col size="3">
        <ion-radio-group [(ngModel)]="person1" >
          <ion-radio allow-empty-selection="true" slot="start" (click)="active(pack)" ></ion-radio>
      </ion-radio-group>
      </ion-col>
    </ion-row>
  </ion-card>
  <br>
 
  <ion-button shape="block"  class="upgrade" (click)="purchasenow()">
    Purchase Now
  </ion-button>
  <br>
  <ion-label>Credit Purchase History</ion-label>
  <ion-card  *ngFor="let history of credithistorylist">
    <ion-row>
      <ion-col size="2">
        <img src="assets/imgs/history.png">
      </ion-col>
      <ion-col size="6" >
      <p class="packcredit">Credits: {{history.Credits}}</p>
      <p class="datetime">{{history.DateTime}}</p>
      </ion-col >
      <ion-col size="3">
        <p class="historycost">£{{history.Cost}}</p>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
