<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button  color="secondary" (click)="editbtn()">
        <ion-icon name="create-outline"></ion-icon>
    </ion-button>
    <ion-button  color="secondary" (click)="logout()">
      <ion-icon name="log-out-outline"></ion-icon>
  </ion-button>
    </ion-buttons>
    <ion-row>
      <ion-col size="2">
        <img src="assets/imgs/cam.png">
      </ion-col>
      <ion-col size="7">
        <ion-title>
          <h2>My Profile</h2>
        </ion-title>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-horizontal">
<br>
<ion-row>
  <ion-col size="3" (click)="updatepic()">
  <div class="round">
  <img src="{{dp}}" class="dp">
  </div>
  </ion-col>
  <ion-col size="7">
  <p class="albumtitle">{{name}}</p>
  </ion-col>
  <ion-col size="2" (click)="presentPopover($event)">
    <p class="ion-text-end total">Total 5 Album</p>
  </ion-col>
</ion-row>
<!-- <ion-label class="labl">Email Address</ion-label>
<ion-input type="text" value="{{email}}" readonly></ion-input> -->
<br>
<ion-row>
  <ion-col size="10">
    <p class="myalbum">My Albums</p>
  </ion-col>
  <ion-col size="2">
    <!-- <ion-icon name="ellipsis-vertical" class="menu"></ion-icon> -->
  </ion-col>
</ion-row>
<br>
<ion-slides  [options]="slideOpts">
  <ion-slide *ngFor="let album of albumlist">
    <ion-card>
      
      <img *ngIf="album.ThumbnailURL" src="{{album.ThumbnailURL}}" (click)="albumview(album.ID,album.OwnerProfilePictureURL,album.OwnerName)" class="slidimg">
      <img *ngIf="album.ThumbnailURL == null" src="assets/imgs/no.jpg" (click)="albumview(album.ID,album.OwnerProfilePictureURL,album.OwnerName)" class="slidimg">
      <ion-footer class="ion-no-border">
        <ion-row>
          <ion-col size="9" (click)="album()" class="slidedes">
            <p class="cate">{{album.Name}}</p>
            <p class="small">by {{album.OwnerName}}</p>
            <p class="small">{{album.PictureCount}} Photos</p>
          </ion-col>
          
          <ion-col >
            <!-- <ion-icon name="ellipsis-vertical" class="menu"></ion-icon> -->
          </ion-col>
        </ion-row>
      </ion-footer>
    </ion-card>
  </ion-slide>
</ion-slides>
<br>
<ion-row>
  <ion-col size="10">
    <p class="myalbum">My Payment Methods</p>
  </ion-col>
  <ion-col size="2" (click)="addcard()">
    
    <ion-icon name="add-outline" class="plus"></ion-icon>
  </ion-col>
</ion-row>
<br>
<ion-slides  class="crd" [options]="slideOpts2">
  <ion-slide  *ngFor="let card of cardlist">
    <ion-card >
      <img src="{{card.Brand}}">
      <ion-row>
        <ion-col class="ion-text-start digit">****</ion-col>
        <ion-col class="ion-text-center digit">****</ion-col>
        <ion-col class="ion-text-center digit">****</ion-col>
        <ion-col class="ion-text-end digit">{{card.Last4}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col></ion-col>
        <ion-col></ion-col>
        <ion-col class="ion-text-end" size="8">Valid Thru {{card.Expiry}}</ion-col>
      </ion-row>
    </ion-card>
  </ion-slide>
</ion-slides>

<br>
<ion-row>
  <ion-col size="10">
    <p class="myalbum">My Subscriptions</p>
  </ion-col>
  <ion-col size="2" (click)="subscribe()">
    <ion-icon name="ellipsis-vertical" class="menu"></ion-icon>
  </ion-col>
</ion-row>
<p class="des">Your current subscription plan is :<span class="myplan"> Free</span></p>

</ion-content>
