<div>


   <ion-list >
      <ion-item (click)="whatsapp()">
        <ion-col size="3">
          <ion-icon class="linkedin" name="logo-whatsapp"></ion-icon>
        </ion-col>
        <ion-col>
          <p class="tt">Share Via WhatsApp</p>
        </ion-col>
      </ion-item>
      <ion-item (click)="email()">
        <ion-col size="3">
          <ion-icon class="email" name="mail"></ion-icon>
        </ion-col>
        <ion-col>
          <p class="tt">Share Via Email</p>
        </ion-col>
      </ion-item>
      <ion-item lines="none" (click)="msg()">
        <ion-col size="3">
          <ion-icon class="msg" name="paper-plane"></ion-icon>
        </ion-col>
        <ion-col>
          <p class="tt">Share Via Message</p>
        </ion-col>
      </ion-item>
    </ion-list>



</div>