

div{


  .linkedin{
        color:#1f9422;
        font-size: 30px;
    }
    .email{
        color: #3AC3F5;
        font-size: 30px;
    }
    .msg{
        color: #ff5722;
        font-size: 30px;
    }

}